.Todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #011627;
    margin-top: 25px;
    padding: 10px;
    transition: all linear 2s;
}

.Todo-List {
    display: block;
}

.Todo:hover{
    padding-left: 18px;

}

.Todo-btn {
    text-decoration: line-through;
    color:grey;
}

